<div style="text-align:center">
  <h1>
    HULAF
    </h1>
</div>
<h2>Find missing people</h2>

<h3>The application aids the reunion of people who have been separated</h3>
<ul>
  <li>
    <h2><a routerLink="/" routerLinkActive="active">Home</a></h2>
  </li>
  <li>
    <h2><a routerLink="/listing" routerLinkActive="active">Looking for a missing person</a></h2>
  </li>
  <li>
    <h2><a routerLink="/seeker" routerLinkActive="active">Report a missing missing person</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
